<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chat_2022_eleves">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:usesCleartextTraffic="true"
        android:name=".GlobalState"
        android:allowBackup="true"
        android:icon="@mipmap/carre_ig2i"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chat_2022_eleves">
        <activity
            android:name=".LoginActivity_"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".ChoixConvActivity_"></activity>
        <activity android:name=".ConvActivity_"></activity>
    </application>

</manifest>